CompileFlags:
  Remove:
    - -rdc=*
    - -gencode
    - arch=*
    - code=*
    - --generate-code*
    - -forward-unknown-to-host-compiler
    - --expt-relaxed-constexpr
    - --expt-extended-lambda

